{% extends "template.html" %}

{% load bootstrap_toolkit %}


{% block right_content %}
<div class="container">
  <div class="row">
    <h1>Cuentanos de tu ayudantía</h1>
    <div class="col-lg-8 bottom-spaced">
      {% if ayudantiaForm and horarioForm %}
      <form class="form" method="POST" action="/ayudantias/publicar_ayudantia/">
        {% csrf_token %}
        <h2>Ayudant&iacute;a</h2>
        {{ ayudantiaForm|as_bootstrap }}
        <h2>Horario</h2>
        {{ horarioForm|as_bootstrap }}
        <button type="submit" class="btn btn-primary righted top-spaced">Publicar</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
