{% extends "template.html" %}

{% load bootstrap_toolkit %}

{% block right_content %}
<h1>Ayudantias</h1>
<table class="table">
	<thead>
		<tr>
			<th>Fecha de publicaci&oacute;n</th>
			<th>Nombre</th>
			<th>Ayudante</th>
			<th>Categor&iacute;a</th>
			<th>Subcategor&iacute;a</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
	{% for ayudantia in lista_ayudantias %}
		<tr>
			<td>{{ ayudantia.fecha_publicacion|date:"d/m/Y" }}</td>
			<td>{{ ayudantia.nombre }}</td>
			<td>{{ ayudantia.ayudante.usuario.first_name }} {{ ayudantia.ayudante.usuario.last_name }}</td>
			<td>{{ ayudantia.categoria.nombre }}</td>
			<td>{{ ayudantia.subcategoria.nombre }}</td>
			<td>TO-DO</td>
		</tr>
	{% empty %}
		<tr><td>No existen ayudant&iacute;as.</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}