{% extends "template.html" %}

{% load bootstrap_toolkit %}

{% block right_content %}
<script type="text/javascript" src="/static/js/ayudantias.js"></script>
<script>
$(function() {
    $( "#solicitarHoraDialog" ).dialog({
          dialogClass: "no-close",
          autoOpen:false,
          minWidth:400
    });

    $( "#resultDialog" ).dialog({
          dialogClass: "no-close",
          autoOpen:false,
          minWidth:400
    });
});
</script>

<h1>Ayudantias</h1>
<table class="table">
	<thead>
		<tr>
			<th>Fecha de publicaci&oacute;n</th>
			<th>Título</th>
			<th>Ayudante</th>
			<th>Categor&iacute;a</th>
			<th>Subcategor&iacute;a</th>
			<th>Costo</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
	{% for ayudantia in lista_ayudantias %}
		<tr>
			<td>{{ ayudantia.fecha_publicacion|date:"d/m/Y" }}</td>
			<td>{{ ayudantia.nombre }}</td>
			<td>{{ ayudantia.ayudante.usuario.first_name }} {{ ayudantia.ayudante.usuario.last_name }}</td>
			<td>{{ ayudantia.categoria.nombre }}</td>
			<td>{{ ayudantia.subcategoria.nombre }}</td>
			<td>${{ ayudantia.costo_por_hora }}</td>
			<td><button type="button" class="btn btn-xs btn-success" onClick="pedirHora({{ayudantia.id}})">Pedir hora</button></td>
		</tr>
	{% empty %}
		<tr><td>No existen ayudant&iacute;as.</td></tr>
	{% endfor %}
	</tbody>
</table>

<div id="solicitarHoraDialog" class="message-dialog" title="Solicitar ayudantía">
    <h4 class="tcentered">¿Estás seguro de pedir esta ayudantía?</h4>
    <div class="tcentered">
        <form class="form" id="solicitarHoraForm" method="POST" action="/ayudantias/hora/">
            {% csrf_token %}
            <button type="button" class="btn btn-xs btn-success" onClick="confirmarSolicitud({{ayudantia.id}})">Sí, pedir hora</button>
        </form>
    </div>
</div>


<div id="resultDialog" class="message-dialog" title="Solicitar ayudantía">
    
</div>
{% endblock %}
