{% extends "template.html" %}

{% load bootstrap_toolkit %}
{% block main_top_content %}
{% endblock %}

{% block right_content %}
<link href="/static/css/perfil.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/perfil.js"></script>
<script>
$(function() {
    $( "#evalDialog" ).dialog({
          dialogClass: "no-close",
          autoOpen:false,
          minWidth:600
    });
});
</script>



<ul class="nav nav-tabs">
  <li class="active"><a href="#mi_panel" data-toggle="tab">Mi panel</a></li>
  <li><a href="#ayudantias" data-toggle="tab">Mis ayudantías</a></li>
  <li><a href="#solicitudes" data-toggle="tab">Mis solicitudes</a></li>
  <li><a href="#evaluaciones" data-toggle="tab">Evaluaciones pendientes</a></li>
</ul>


<div class="tab-content">
  <!-- seccion "Mi panel" -->
  <div class="tab-pane fade in active" id="mi_panel">
    <div class="row">
      <div class="col-md-9" id="user-data-div">
        <div class="row">
          <h3 class="bottom-spaced">{{user.get_full_name}}</h3>
          <div class="col-md-4">
            <img class="profile_img" src="{{ user.perfil.avatar }}" alt="{{user.get_full_name}}">
          </div>
          <div class="col-md-8 userdata">
            <p> {{user.email}}</p>
            <p> {{user.perfil.fono|default:"Teléfono no disponible"}}</p>
            <p> {{user.perfil.institucion}}</p>
            {% if request.user == user %}
            <button id="edit-btn" onClick="showEditForm()" class="btn btn-primary">Editar</button>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="eval-box">
          <span class="eval-box-name">Alumno</span>
          <p>{{user.perfil.puntuacion|floatformat|default:0}}</p>
          <span>en {{user.perfil.eval_qty}} calificaciones</span>
        </div>

        <div class="eval-box">
          <span class="eval-box-name">Ayudante</span>
          <p>{{user.ayudante.puntuacion|floatformat|default:0}}</p>
          <span>en {{user.ayudante.eval_qty}} calificaciones</span>
        </div>
      </div>
    </div>
  </div>
  <!-- END seccion "Mi panel" -->

  <!-- seccion "Mis ayudantias" -->
  <div class="tab-pane fade" id="ayudantias">
      <div class="row top-spaced">
        <div class="button-big">
          <a href="{% url 'ayudantias.views.publicar_ayudantia' %}">
            <img src="{{STATIC_URL}}img/add.png" alt="" width="80px" /><br />
            Nueva ayudantía
          </a>
        </div>
      </div>
    <!-- ELIMINAR CUANDO SE TENGA LA LISTA -->
      <hr noshade="noshade" class="nopadding" />
      <div class="row">
        <h3>Ayudantías Activas</h3>
      </div>
      <!-- END ELIMINAR CUANDO SE TENGA LA LISTA -->
    
  {% if ayudantias %}
    {% for ayudantia in ayudantias %}
      <div class="row boxed ayudantia-box">
        <div class="col-md-7">
            <h4>{{ayudantia.titulo}}</h4>
            <p>{{ayudantia.descripcion|truncatechars:100}}</p>
            <span><strong>Categoría:</strong> {{ayudantia.categoria}} - {{ayudantia.subcategoria}}</span><br>
        </div>
        <div class="col-lg-1"><!-- Editar -->
          <img class="img-btn" src="/static/img/edit.png" alt="" width="60px">
        </div>
        <div class="col-lg-1"><!-- Publicar/Despublicar -->
          {% if ayudantia.estado == "publicado" %}
          <img class="img-btn" src="/static/img/unpublish.png" alt="" width="60px">
          {% else %}
          <img class="img-btn" src="/static/img/publish.png" alt="" width="60px">
          {% endif %}
        </div>
        <div class="col-lg-1"><!-- Ver más -->
          <img class="img-btn" src="/static/img/more.png" alt="" width="60px">
        </div>
        <div class="col-lg-1"><!-- Solicitudes/Historial -->
          <img class="img-btn" src="/static/img/requests.png" alt="" width="60px">
        </div>
        <div class="col-lg-1"><!-- Eliminar -->
          <img class="img-btn" src="/static/img/delete.png" alt="" width="60px">
        </div>
      </div>
      {% empty %}
    {% endfor %}
  {% else %}
    <div class="alert alert-info top-spaced"><strong>Aún no tienes ayudantías.</strong> Ingresa una nueva oferta.</div>
  {% endif%}
  </div>
  <!-- END seccion "Mis ayudantias" -->



  
  <!-- seccion "Mis solicitudes" -->
  <div class="tab-pane fade" id="solicitudes">

    <!-- ELIMINAR CUANDO SE TENGA LA LISTA -->
      <div class="row result-entry top-spaced">
        <div class="col-sm-7">
            <h4>Ayudantia 1</h4>
            <p>una ayudantia super cachilupi de un ramo random por ahi</p>
            <span><strong>Ayudante:</strong> Juan Pérez</span><br>
            <span><strong>Categoría:</strong> Matematicas - Cálculo en varias variables</span><br>
        </div>
        <div class="col-sm-1"><!-- Editar -->
          <img class="img-btn" src="/static/img/edit.png">
        </div>
        <div class="col-sm-1"><!-- Publicar/Despublicar -->
          <img class="img-btn" src="/static/img/unpublish.png">
        </div>
        <div class="col-sm-1"><!-- Ver más -->
          <img class="img-btn" src="/static/img/more.png">
        </div>
        <div class="col-sm-1"><!-- Solicitudes/Historial -->
          <img class="img-btn" src="/static/img/requests.png">
        </div>
        <div class="col-sm-1"><!-- Eliminar -->
          <img class="img-btn" src="/static/img/delete.png">
        </div>
      </div>
      <!-- END ELIMINAR CUANDO SE TENGA LA LISTA -->
      
  {% if solicitudes %}
    {% for solicitud in solicitudes %}
      <div class="row result-entry">
        <div class="col-sm-7">
            <h4>{{solicitud.titulo}}</h4>
            <p>{{solicitud.descripcion|truncatechars:100}}</p>
            <span><strong>Alumno:</strong> {{solicitud.ayudante}}</span>
            <span><strong>Categoría:</strong> {{solicitud.categoria}} - {{solicitud.subcategoria}}</span><br>
        </div>
        <div class="col-sm-1"><!-- Editar -->
          <img class="img-btn" src="/static/img/edit.png">
        </div>
        <div class="col-sm-1"><!-- Publicar/Despublicar -->
          {% if solicitud.aceptada %}
            <img class="img-btn" src="/static/img/unpublish.png">
          {% else %}
            <img class="img-btn" src="/static/img/publish.png">
          {% endif %}
        </div>
        <div class="col-sm-1"><!-- Ver más -->
          <img class="img-btn" src="/static/img/more.png">
        </div>
        <div class="col-sm-1"><!-- Solicitudes/Historial -->
          <img class="img-btn" src="/static/img/requests.png">
        </div>
        <div class="col-sm-1"><!-- Eliminar -->
          <img class="img-btn" src="/static/img/delete.png">
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-info top-spaced"><strong>No has realizado solicitudes de ayudantía.</strong> <a href="/busqueda">¿Deseas buscar una ayudantía ahora?</a></div>
  {% endif %}
  </div>
  <!-- END seccion "Mis solicitudes" -->





  <!-- seccion "Evaluaciones pendientes" -->
  <div class="tab-pane fade" id="evaluaciones">
  {% if evaluaciones %}
    {% for evaluacion in evaluaciones %}
      <div class="row result-entry">
        <div class="col-sm-8">
            <h4>{{evaluacion.titulo}}</h4>
            <p>{{evaluacion.descripcion|truncatechars:100}}</p>
            <span><strong>Alumno a evaluar:</strong> {{evaluacion.ayudante}} (<a onClick="denunciar('alumno', {{evaluacion.ayudante.usuario.id}})">Denunciar</a>)</span>
            <span><strong>Categoría:</strong> {{evaluacion.categoria}} - {{evaluacion.subcategoria}}</span><br>
        </div>
        <div class="col-sm-1"><!-- Editar -->
          <img class="img-btn" src="/static/img/edit.png" onClick="evaluar('alumno', {{evaluacion.ayudante.usuario.id}})">
        </div>
        <div class="col-sm-1"><!-- Ver más -->
          <img class="img-btn" src="/static/img/more.png">
        </div>
        <div class="col-sm-1"><!-- Solicitudes/Historial -->
          <img class="img-btn" src="/static/img/requests.png">
        </div>
        <div class="col-sm-1"><!-- Eliminar -->
          <img class="img-btn" src="/static/img/delete.png">
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-info top-spaced"><strong>No tienes alumnos por evaluar.</strong> <a href="/busqueda"></a></div>
  {% endif %}
  </div>
  <!-- END seccion "Evaluaciones pendientes" -->
</div>


<div id="evalDialog" class="message-dialog" title="Evaluación o Denuncia">
    
</div>
{% endblock %}
