{% extends "template.html" %}

{% load bootstrap_toolkit %}
{% block main_top_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-offset-4 boxed bottom-spaced">
      {% if form %}
      <form class="form" method="POST" action="/register">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button type="submit" class="btn btn-primary righted">Entrar</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block left_content %}
{% endblock %}

{% block right_content %}
{% endblock %}
