<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="title" content="{{title|default:'Ayudame a Pasar'}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{description|default:'Ofrece y busca ayudantías. Pasa tus ramos de una!'}}">
      <meta name="author" content="Stress">
      <meta name="keywords" content="{{keywords|default:'key1, key2'}}">
      <title>{{title|default:'Ayudame a Pasar'}}</title>
      <link rel="shortcut icon" href="/static/img/favicon.png">
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
      <script type="text/javascript" src="/static/js/jquery-2.0.3.js"></script>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
      <script type="text/javascript" src="/static/js/bootstrap.js"></script>
      <script type="text/javascript" src="/static/js/template.js"></script>
      <script type="text/javascript" src="/static/js/spin.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Rufina:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link href="/static/css/bootstrap.css" rel="stylesheet">
      <link href="/static/css/template.css" rel="stylesheet">
    </head>
    <body>
      <div id="fader"></div>
      <div id="spinner-div"></div>
        {% block header %}
        <div class="topbar navbar-fixed-top">
          <div class="row">
            <div class="col-lg-1"><a href="/">Ayudameapasar.cl</a></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            {% if not user.is_authenticated %}
            <div class="col-lg-7"></div>
            <div class="col-lg-1"><a href="{% url 'usuarios.views.registerView' %}">Registrar</a></div>
            <div class="col-lg-1"><a href="{% url 'usuarios.views.loginView' %}">Login</a></div>
            {% else %}
            <div class="col-lg-6"></div>
            <div class="col-lg-1"><a href="{% url 'usuarios.views.mostrarPerfilPropio' %}">Mi perfil</a></div>
            <div class="col-lg-2"><a href="{% url 'usuarios.views.logoutView' %}">Cerrar Sesión</a></div>
            {% endif %}
          </div>
        </div>
        {% endblock %}

        <div class="main-container">
          {% if messages %}
          <!-- Mensajes -->
          
          {% for message in messages %}
          <div class="alert alert-info top-spaced centered right-spaced left-spaced">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
          
          <!-- mensajes end -->
          {% endif %}


          {% block main_top_content %}
          {% endblock %}

          <div class="row">
            <div id="left-content" class="col-md-2 nopadding-right">
              {% block left_content %}
                <a href="/">
                  <img src="/static/img/logoayudame.png" alt="" />
                </a>
                <!-- Categorias -->
                <div class="top_menu_title"></div>
                <div class="menu_title"><a href="{% url 'ayudantias.views.ayudantias' %}">Todas las ayudantías</a></div>
                <div class="menu_title">Buscar ayudantía</div>
                <div class="menu_items">
                  <div class="item" onClick="showList(this, 'categorias');">
                    Categoría
                    <span class="badge pull-right">99</span>
                  </div>
                    <div class="sub-category" id="categorias">
                      <div class="category-item">matematicas</div>
                      <div class="category-item">integrales</div>
                      <div class="category-item">ecuaciones diferenciales parciales</div>
                      <div class="category-item">cat1</div>
                      <div class="category-item">cat1</div>
                      <div class="category-item">cat1</div>
                      <div class="category-item">cat1</div>
                      <div class="category-item">cat1</div>
                      <div class="category-item">cat1</div>
                      <div class="category-item">cat1</div>
                      <div class="category-item">
                        <select class="form-control">
                          <option>hola</option>
                        </select>
                      </div>
                    </div>
                  <div class="item" onClick="showList(this, 'horario');">Horario</div>
                    <div class="sub-category" id="horario">
                      <div class="menu_title">Dia semana</div>
                      <div class="row">
                        <div class="col-md-1">Lu</div>
                        <div class="col-md-1">Ma</div>
                        <div class="col-md-1">Mi</div>
                        <div class="col-md-1">Ju</div>
                        <div class="col-md-1">Vi</div>
                      </div>
                      <div class="row">
                        <div class="col-md-1"><input type="checkbox" name="filtro-lunes" value="1"></div>
                        <div class="col-md-1"><input type="checkbox" name="filtro-martes" value="1"></div>
                        <div class="col-md-1"><input type="checkbox" name="filtro-miercoles" value="1"></div>
                        <div class="col-md-1"><input type="checkbox" name="filtro-jueves" value="1"></div>
                        <div class="col-md-1"><input type="checkbox" name="filtro-viernes" value="1"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-1">Sa</div>
                        <div class="col-md-1">Do</div>
                      </div>
                      <div class="row">
                        <div class="col-md-1"><input type="checkbox" name="filtro-sabado" value="1"></div>
                        <div class="col-md-1"><input type="checkbox" name="filtro-domingo" value="1"></div>
                      </div>
                      <div class="menu_title">Horario</div>
                      <div class="row">
                        <div class="col-md-1">Inicio</div>
                        <div class="col-md-4"><input type="text" class="form-control" /></div>
                      </div>
                      <div class="row">
                        <div class="col-md-1">Fin</div>
                        <div class="col-md-4"><input type="text" class="form-control" /></div>
                      </div>
                    </div>
                  <div class="item" onClick="showList(this, 'puntuacion');">Puntuación</div>
                    <div class="sub-category" id="puntuacion">
                      TODO 
                    </div>
                </div>
              {% endblock %}
            </div>
            
            <div id="right-content" class="col-md-9">
              {% block right_content %}
              {% endblock %}
            </div>
          </div>
        </div>
        
        {% block footer %}
        <div class="footer top-spaced">
          <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
              <a class="footer-link centered" href="#">Nosotros</a>
            </div>
            <div class="col-sm-2">
              <a class="footer-link centered" href="#">FAQ</a>
            </div>
            <div class="col-sm-2">
              <a class="footer-link centered" href="#">Blog</a>
            </div>
            <div class="col-sm-2">
              <a class="footer-link centered" href="#">Contacto</a>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 col-sm-offset-4 tcentered">
              <p class="top-spaced">Siguenos en</p>
              <a class="social" href="#">Facebook</a>
              <a class="social" href="#">Twitter</a>
            </div>
          </div>
        </div>
        {% endblock %}
    </body>
</html>
