body {
    padding-top: 70px;
}

.main-container {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:30px;
}

#left-content {
    height:100%;
}

#right-content {
    padding-left:15px;
    border-left:1px solid rgba(0,0,0,0.2);
}

.trighted {
    text-align:right;
}

.tlefted {
    text-align:left;
}

.tcentered {
    text-align:center
}

.lefted {
    float:left;
    margin-left: 15px;
}

.righted {
    float:right;
    margin-right: 15px;
}

.top-spaced {
    margin-top:25px;
}

.bottom-spaced {
    margin-bottom:25px;
}

.left-spaced {
    margin-left:15px;
}

.right-spaced {
    margin-right:15px;
}

.sides-unmargined {
    margin-right:0;
    margin-left:0;
}

.pagination {
    text-align: center;
    width: 100%;
}

.pagination-left {
    text-align: right;
}

.boxed {
    background-color: rgba(0,0,0,0.08);
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: inset 0px -1px 3px 0px rgba(0,0,0,0.5);
}

.footer {
    border-top:1px solid rgba(0,0,0,0.08);
    padding-top:15px;
}
#fader {
    background: black;
    opacity: .5;
    -moz-opacity: .5;
    -filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
    display: none;
}

#spinner-div {
    width: 150px;
    margin-left: 45%;
    margin-right: 45%;
    height: 150px;
    margin-top: 250px;
    margin-bottom: auto;
    background: transparent;
    position: fixed;
    z-index: 200;
    display:none;
}

.action-block {
    width:100%;
    margin-top:10px;
    background-color:#5e75ff;
    border-radius:5px;
    padding:10px 0px 10px 0px;;
    color:white;
    font-weight:bold;
    text-align:center;
    box-shadow: inset 0px -1px 3px 1px rgba(255,255,255,0.5);
    cursor:pointer;
}

.action-block:hover {
    box-shadow: inset 0px 1px 3px 1px rgba(255,255,255,0.5);
}

.filter-block {
    border-top:1px solid white;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
}
